{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template block_myoverview/view-cards

    This template renders the cards view for the myoverview block.

    Example context (json):
    {
        "courses": [
            {
                "name": "Assignment due 1",
                "viewurl": "https://moodlesite/course/view.php?id=2",
                "courseimage": "http://localhost/proyectos/fundae/theme/moove/pix/default_coursesummary.jpg",
                "fullname": "course 3",
                "hasprogress": true,
                "progress": 10,
                "visible": true
            }
        ]
    }
}}

<div class="card-deck dashboard-card-deck {{$classes}}{{/classes}}" role="list">
{{#courses}}
    <div class="card dashboard-card" role="listitem"
        data-region="course-content"
        data-course-id="{{{id}}}">
        <a href="{{viewurl}}" tabindex="-1">
            <div class="card-img dashboard-card-img" style='background-image: url("{{{courseimage}}}");'>
                <span class="sr-only">{{#str}}aria:courseimage, core_course{{/str}}</span>
            </div>
        </a>
        <div class="card-body pr-1 course-info-container" id="course-info-container-{{id}}-{{uniqid}}">
            <div class="d-flex align-items-start">
                <a href="{{viewurl}}" class="coursename mr-2 text-truncate">
                    <span class="sr-only">
                        {{#str}}aria:courseshortname, core_course{{/str}}
                    </span>
                    {{#showshortname}}
                    <div class="text-muted muted w-100 mb-1 text-truncate">
                        {{{shortname}}}
                    </div>
                    {{/showshortname}}
                    {{> core_course/favouriteicon }}
                    <span class="sr-only">
                        {{#str}}aria:coursename, core_course{{/str}}
                    </span>
                    {{$coursename}}{{/coursename}}
                </a>
                {{$menu}}{{/menu}}
            </div>
            {{^visible}}
                <div class="hiddenmessage">
                    <span class="badge badge-info">{{#str}} hiddenfromstudents {{/str}}</span>
                </div>
            {{/visible}}
        </div>
        {{$progress}}{{/progress}}
    </div>
{{/courses}}
</div>
