{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template theme_adara/header

    Page header template

    Example context (json): {}
}}
<nav class="fixed-top navbar navbar-light navbar-expand moodle-has-zindex">
    {{#hasdrawertoggle}}
        <div data-region="drawer-toggle" class="d-inline-block mr-3 drawer-toggle">
            <button aria-expanded="{{#navdraweropen}}true{{/navdraweropen}}{{^navdraweropen}}false{{/navdraweropen}}" aria-controls="nav-drawer" type="button" class="btn nav-link float-sm-left mr-1 btn-secondary" data-action="toggle-drawer" data-side="left" data-preference="drawer-open-nav">{{#pix}}i/menubars{{/pix}}<span class="sr-only">{{#str}}sidepanel, core{{/str}}</span></button>
        </div>
    {{/hasdrawertoggle}}

    <a href="{{{ config.wwwroot }}}" class="navbar-brand {{# output.get_logo }}has-logo{{/ output.get_logo }}
        {{^ output.get_logo }}
            d-none d-sm-inline
        {{/ output.get_logo }}
            ">
        {{# output.get_logo }}
            <span class="logo d-none d-sm-inline">
                <img src="{{output.get_logo}}" alt="{{sitename}}">
            </span>
        {{/ output.get_logo }}
        {{^ output.get_logo }}
            <span class="site-name d-none d-md-inline">{{{ sitename }}}</span>
        {{/ output.get_logo }}
    </a>

    <ul class="navbar-nav d-none d-md-flex custom-menus">
        <!-- custom_menu -->
        {{{ output.custom_menu }}}
        <!-- page_heading_menu -->
        {{{ output.page_heading_menu }}}
    </ul>
    <ul class="nav navbar-nav ml-auto">
        <div class="d-none d-lg-block">
            {{{ output.search_box }}}
        </div>

        <li class="nav-item lang-menu">
            {{{ output.render_lang_menu }}}
        </li>

        {{{ output.navbar_plugin_output }}}

        {{{ output.user_menu }}}
    </ul>
</nav>
