<div class="admininfos">
    {{{ output.mydashboard_admin_header }}}

    <div class="row">
        <div class="col-md-3">
          <!-- small box -->
          <div class="small-box bg-1">
            <div class="inner">
              <h3>{{{totalusage}}}</h3>

              <p>{{#str}}diskusage, theme_adara{{/str}}</p>
            </div>
            <div class="icon">
              <i class="slicon-drawer"></i>
            </div>
          </div>
        </div>

        <div class="col-md-3">
          <!-- small box -->
          <div class="small-box bg-2">
            <div class="inner">
              <h3>{{{totalactiveusers}}} / {{{totalsuspendedusers}}}</h3>

              <p>{{#str}}totalusers, theme_adara{{/str}}</p>
            </div>
            <div class="icon">
              <i class="slicon-people"></i>
            </div>
          </div>
        </div>

        <div class="col-md-3">
          <!-- small box -->
          <div class="small-box bg-3">
            <div class="inner">
              <h3>{{{totalcourses}}}</h3>

              <p>{{#str}}totalcourses, theme_adara{{/str}}</p>
            </div>
            <div class="icon">
              <i class="slicon-graduation"></i>
            </div>
          </div>
        </div>

        <div class="col-md-3">
          <!-- small box -->
          <div class="small-box bg-4">
            <div class="inner">
              <h3>{{{onlineusers}}}</h3>

              <p>{{#str}}onlineusers, theme_adara{{/str}}</p>
            </div>
            <div class="icon">
              <i class="fa fa-plug"></i>
            </div>
          </div>
        </div>
    </div>
</div>
