{{!
    @template core/signup_form_layout

    Example context (json):
    {
        "logourl": "https://moodle.org/logo/moodle-logo.svg",
        "sitename": "Site name",
        "formhtml": "<p>(Form html would go here)</p>"
    }
}}
<div class="container-fluid">
    <div class="row row justify-content-center">
        <div class="col-6">
            <div class="card">
                <div class="card-block">
                    <div class="card-title text-xs-center">
                        {{#logourl}}
                            <h2><img src="{{logourl}}" title="{{sitename}}" alt="{{sitename}}"/></h2>
                        {{/logourl}}
                        {{^logourl}}
                            <h2>{{sitename}}</h2>
                        {{/logourl}}
                        <hr>
                    </div>
                    <div class="card-title">
                        <h3>{{#str}}newaccount{{/str}}</h3>
                    </div>
                    {{{formhtml}}}
                </div>
            </div>
        </div>
    </div>
</div>
