@charset "UTF-8";

/*
    CUSTOM STYLES
*/

/*área del docente*/
.no-overflow {
    padding-bottom: 1px;
}
.theme-header {
    padding: 50px 20px;
    position: relative;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-box-shadow: 7px 7px 0 0 rgba(0,0,0,.15);
    -moz-box-shadow: 7px 7px 0 0 rgba(0,0,0,.15);
    -ms-box-shadow: 7px 7px 0 0 rgba(0,0,0,.15);
    box-shadow: 7px 7px 0 0 rgba(0,0,0,.15);
    margin-right: 7px;
}
.theme-header .theme-header-content::after {
    content: '';
    display: block;
    width: 20px;
    position: absolute;
    left: 0;
    top: -9px;
    bottom: -9px;
    border: solid 2px #e63946;
    border-right-color: rgb(230, 57, 70);
    border-right-style: solid;
    border-right-width: 2px;
    border-right: 0;
}
.theme-header .theme-header-content {
    position: relative;
    z-index: 1;
    padding-left: 20px;
}
.theme-header .theme-header-title, .theme-header .theme-header-subtitle {
    color: #fff;
    margin: 0;
}
.theme-header .theme-header-subtitle {
    color: #fff;
    opacity: .6;
    margin-top: 7px;
}
.theme-header .theme-header-bg {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.5);
}

/*viñeta de colores*/
.theme-box {
    padding-left: 15px;
    padding-right: 15px;
    float: left;
    margin-bottom: 30px;
    margin-top: 15px;
}

.theme-boxcontent.type-1::after, .theme-boxcontent.type-2::after, 
.theme-boxcontent.type-3::after, .theme-boxcontent.type-4::after {
    content: '';
    position: absolute;
    left: 50%;
    margin-left: -20px;
    display: block;
    border: solid 20px transparent;
    border-top-color: transparent;
    border-bottom-color: transparent;
    bottom: -40px;
}


.theme-boxcontent.type-1::after{
    border-top-color: rgba(28,119,195,.8);
    border-bottom-color: rgba(28,119,195,.8) transparent !important;
}


.theme-boxcontent.type-3::after{
    border-top-color: #fb8b24;
    border-bottom-color: #fb8b24 transparent !important;
}

.theme-boxcontent.type-2::after{
    border-top-color: #e63946;
    border-bottom-color: #e63946 transparent !important;
}

.theme-boxcontent.type-4::after{
    border-top-color: #119d65;
    border-bottom-color: #119d65 transparent !important;
}

.theme-boxcontent.type-1{
    color: #fff;
    position: relative;
    background-color: rgba(28,119,195,.8);
}

.theme-boxcontent.type-2{
    color: #fff;
    position: relative;
    background-color: #e63946;
}

.theme-boxcontent.type-3{
    color: #fff;
    position: relative;
    background-color: #fb8b24;
}

.theme-boxcontent.type-4{
    color: #fff;
    position: relative;
    background-color: #119d65;
}

.theme-boxcontent.type-1.isicon .theme-boxcontent-content, .theme-boxcontent.type-2.isicon .theme-boxcontent-content, 
.theme-boxcontent.type-3.isicon .theme-boxcontent-content, .theme-boxcontent.type-4.isicon .theme-boxcontent-content{
    padding-left: 73px;
}

.theme-boxcontent.type-1 .theme-boxcontent-content, .theme-boxcontent.type-2 .theme-boxcontent-content, 
.theme-boxcontent.type-3 .theme-boxcontent-content, .theme-boxcontent.type-4 .theme-boxcontent-content{
    position: relative;
    padding: 20px;
    padding-left: 20px;
    min-height: 56px;
}

.theme-boxcontent.type-1, .theme-boxcontent.type-2, 
.theme-boxcontent.type-3, .theme-boxcontent.type-4 {
    color: #fff;
}

.theme-boxcontent.type-1 .theme-boxcontent-icon, .theme-boxcontent.type-2 .theme-boxcontent-icon, 
.theme-boxcontent.type-3 .theme-boxcontent-icon, .theme-boxcontent.type-4 .theme-boxcontent-icon{
    position: absolute;
    top: 50%;
    left: 13px;
    margin-top: -23px;
    display: block;
    width: 46px;
    height: 46px;
    line-height: 46px;
    text-align: center;
    font-size: 17px;
    color: #fff;
    border: solid 1px rgba(255,255,255,.2);
    -webkit-border-radius: 999px;
    -moz-border-radius: 999px;
    -ms-border-radius: 999px;
    border-radius: 999px;
}


.customsection{
    margin: 30px 0;
    padding: 9px 15px;
    background-color: #f0f0f0;
    font-size: 20px;
    border-radius: 3px;
    border-left: solid 2px #e63946;
    -webkit-transition: background-color 0.15s ease-in-out;
    -moz-transition: background-color 0.15s ease-in-out;
    -ms-transition: background-color 0.15s ease-in-out;
    transition: background-color 0.15s ease-in-out;
}

/*blue ball*/
.theme-boxicon.type-2 {
    padding-left: 63px;
    position: relative;
    min-height: 45px;
}

.theme-boxicon.type-2 .theme-boxicon-icon{
    left: 0;
    display: block;
    background-color: rgba(230,57,70,.8);
    width: 46px;
    text-align: center;
    font-size: 17px;
    color: #fff;
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -ms-transition: all 0.25s ease-in-out;

    position: absolute;
    top: 50%;
    margin-top: -23px;
    height: 46px;
    line-height: 46px;
    -webkit-border-radius: 999px;
    -moz-border-radius: 999px;
    -ms-border-radius: 999px;
    border-radius: 999px;
    background-color: rgba(28,119,195,.8);
}
/*end blue ball (info)*/

/*section separator*/
.theme-title.style-2.title-s .title {
    font-size: 22px;
    position: relative;
}

.theme-title.style-2 .title > span {
    background-color: #fff;
    position: relative;
    z-index: 1;
    padding-right: 15px;
}

.theme-title.style-2 .title::after {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -2px;
    width: 100%;
    height: 5px;
    border-top: solid 1px #d5d5d5;
    border-bottom: solid 1px #d5d5d5;
}
/*end section separator*/

/*section green*/
.theme-boxcontent.type-2.color-success {
    background-color: #119d65;
}

.theme-boxcontent.type-2.color-warning {
    background-color: #fb8b24;
}

.theme-boxcontent.type-2.color-info {
    background-color: rgba(28,119,195,.8);
}

.theme-boxcontent.type-2.color-danger {
    background-color: #e63946;
}


.theme-boxcontent.type-2.color-success::after, .theme-boxcontent.type-2.color-warning::after,
.theme-boxcontent.type-2.color-danger::after, .theme-boxcontent.type-2.color-info::after{
    top: 0;
    border-bottom-color: transparent !important;
    border-top-color: #fff !important;
}
/*end section green*/

/*balls*/
.theme-boxicon.type-2.color-success .theme-boxicon-icon {
    background-color: #119d65;
}

.theme-boxicon.type-2.color-danger .theme-boxicon-icon {
    background-color: #e63946;
}

.theme-boxicon.type-2.color-warning .theme-boxicon-icon {
    background-color: #fb8b24;
}

.theme-boxicon.type-2.color-info .theme-boxicon-icon {
    background-color: rgba(28,119,195,.8);
}

/*info*/
.theme-box{
    float:none;
}

.theme-boxicon.type-3 {
    background-color: #f0f0f0;
}

.theme-boxicon.type-2, .theme-boxicon.type-3 {
    position: relative;
    min-height: 45px;
}

.theme-boxicon.type-3 .theme-boxicon-icon {
    left: 0;
    top: 0;
    bottom: 0;
}

.theme-boxicon.type-3 .theme-boxicon-content {
    padding: 10px 10px 10px 62px;
}
.theme-boxicon.type-2 .theme-boxicon-icon, .theme-boxicon.type-3 .theme-boxicon-icon {
    position: absolute;
    left: 0;
    display: block;
    width: 46px;
    text-align: center;
    font-size: 17px;
    color: #fff;
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -ms-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
}

.theme-boxicon.type-3.color-success .theme-boxicon-icon{
    background-color: #119d65;
}

.theme-boxicon.type-3.color-primary .theme-boxicon-icon{
    background-color: rgba(28,119,195,.8);
}

.theme-boxicon.type-3.color-warning .theme-boxicon-icon{
    background-color: #fb8b24;
}

.theme-boxicon.type-3.color-danger .theme-boxicon-icon{
    background-color: #e63946;
}

.theme-boxicon.type-3 .theme-boxicon-icon i {
    line-height: 46px;
}

/*Área del docente register user form*/
#page{
    width: 100%;
    display: flex;
    flex-wrap: wrap;    
    padding: 15px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    /*z-index: 1;*/
    background-image: url('https://formacep.com/theme/moove/pix/background-plat.jpg');
}
/*end Área del docente form*/