{{#numbersfrontpage}}
    <div class="container-fluid frontpage-numbers">
        <div class="row">
            <div class="col-md-3">
                <h2><p>{{#str}} frontpagenumbersome, theme_clienttheme {{/str}}</p>{{#str}} frontpagenumbernumbers, theme_clienttheme {{/str}}</h2>
            </div>

            <div class="col-md-3 number">
                <span class="fa fa-user-circle fa-4x"></span>
                <h3>{{{ numberusers }}}</h3>
                <hr />
                <p>{{#str}} frontpagenumberusers, theme_clienttheme {{/str}}</p>
            </div>

            <div class="col-md-3 number">
                <span class="fa fa-graduation-cap fa-4x"></span>
                <h3>{{{ numbercourses }}}</h3>
                <hr />
                <p>{{#str}} frontpagenumbercourses, theme_clienttheme {{/str}}</p>
            </div>

            <div class="col-md-3 number">
                <span class="fa fa-puzzle-piece fa-4x"></span>
                <h3>{{{ numberactivities }}}</h3>
                <hr />
                <p>{{#str}} frontpagenumberactivities, theme_clienttheme {{/str}}</p>
            </div>
        </div>
    </div>
{{/numbersfrontpage}}