#page-login-index.adara-login {
    background-color: #f1f1f1;
    margin-left: 0;

    #page-wrapper {
        padding-bottom: 0;

        #page {
            margin-top: 0;
            background-size: cover;
            background-position: center;
            min-height: 100vh;
        }

        &::after {
            min-height: 0;
        }
    }

    .logo {
        text-align: center;
        margin-bottom: 2rem;

        img {
            max-height: 200px;
        }
    }

    .row {
        margin: 0;
    }

    .instructionspanel {
        border-radius: $m-login-padding;
        border: none;
    }

    .loginpanel {
        border-radius: $m-login-padding;
        border: none;

        .card-block {
            padding: 0;

            .form {
                padding: 20px 15px;
                height: $m-login-boxheight;
                max-height: $m-login-boxheight;

                .welcome {
                    font-size: 1.2rem;
                }

                .input-group-addon {
                    width: 40px;
                    line-height: 30px;
                    padding: 4px 10px;
                    margin-bottom: 0;
                    font-size: 1rem;
                    text-align: center;
                    background-color: #eceeef;
                    border: 1px solid rgba(0,0,0,.15);
                    border-right: 0;
                }
                .input-group-username .input-group-addon {
                    border-bottom-left-radius: 0;
                    border-bottom-right-radius: 0;
                }
                .input-group-password .input-group-addon {
                    border-top: 0;
                    border-top-left-radius: 0;
                    border-top-right-radius: 0;
                }
                #username,
                #password {
                    border: 1px solid rgba(0, 0, 0, .15);
                    height: 44px;
                }
                #username {
                    border-bottom-left-radius: 0;
                    border-bottom-right-radius: 0;
                }
                #password {
                    border-top: 0;
                    border-top-left-radius: 0;
                    border-top-right-radius: 0;
                }
                #loginbtn {
                    padding: 0.5rem;
                }
            }

            .instructions {
                background-color: $brand-primary;
                padding: 60px 15px;
                color: #fff;
                min-height: $m-login-boxheight;

                img {
                    max-width: 100%;
                }

                .text-info {
                    color: #fff !important;
                }

                h2,
                h3 {
                    color: #fff;
                }

                hr {
                    width: 50%;
                    margin-top: 0;
                    border-top: 1px solid rgba(255, 255, 255, .7);
                }

                .m-t-2 {
                    margin-top: 1rem !important;
                }

                .btn-secondary {
                    border: none;
                }
            }
        }
    }

    .box.generalbox.boxaligncenter {
        border-color: $card-border-color;
        border-radius: $card-border-radius;
        -webkit-box-shadow: 0 5px 20px rgba(0, 0, 0, 0.05);
        box-shadow: 0 5px 20px rgba(0, 0, 0, 0.05);
        background-color: #fff;
        padding: 2rem !important;
    }
}

#page-login-signup {
    margin-left: 0;
    #page-wrapper {
        padding-bottom: 0;
        margin-bottom: 0;

        &:after {
            min-height: 0;
        }

        #page {
            margin-top: 0;
            padding-top: 50px;
        }
    }
}

.potentialidplist .potentialidp {
    margin-bottom: 5px;
}
